* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:linear-gradient(to right,#833ab4,#fd1d1d,#fcb045);
    background-size: 400% 400%;
    animation:body 10s infinite ease-in-out
}

@keyframes body {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

h1{
    text-align: center;
    list-style-position: inside;
    font-size: 35px
}
#search{
    text-align: center;
    margin:auto;
    width:50%;
}




button{
    width: auto;
    border: 3px solid black;
    /* border-right: 50px; */
    font-size: 20px;
    padding: 12px;
    background-color: transparent;
    color: black;
    border-radius: 25px 25px 25px 25px;
}
button:hover {
    background-color: white;
  }

label{
    background-color: transparent;
    font-size: 25px;
}



