<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>House Prediction</title>
    <link href="{{ url_for('static', filename='stylesheets/style.css')}}"  rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' >
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    
</head>

<body>
 <div id = "search">
	
    
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post" id ="myform">
        <h1>Boston House Price Prediction</h1>
        
        
        <label for="CRIM">Per Capita Crime Rate by Town</label>
        <div class="form-group"><input type="text" class="form-control" name="CRIM" placeholder="Range between 0-25" required="required" /></div>
    	<label for="ZN">Residential Land Zoned for lots over 25,000 sq.ft.</label>
        <input type="text"  class="form-control" name="ZN" placeholder="Range between 0-100" required="required" /><br>
        <input type="text" class="form-control" name="INDUS" placeholder="Non-Retail business acres per town" required="required" /><br>
        <input type="text" class="form-control" name="CHAS" placeholder="Charles River dummy variable" required="required" /><br>
        <input type="text" class="form-control" name="NOX" placeholder="Nitric Oxides concentration (parts per 10 million)" required="required" /><br>
        <input type="text" class="form-control" name="RM" placeholder="Average number of rooms per dwelling" required="required" /><br>
        <input type="text" class="form-control" name="Age" placeholder="Age" required="required" /><br>
        <input type="text" class="form-control" name="DIS" placeholder="Weighted distances to five Boston employment centres" required="required" /><br>
        <input type="text" class="form-control" name="RAD" placeholder="Index of accessibility to radial highways" required="required" /><br>
        <input type="text" class="form-control" name="TAX" placeholder="TAX" required="required" /><br>
        <input type="text" class="form-control" name="PTRATIO" placeholder="Pupil-Teacher ratio by town" required="required" /><br>
        <input type="text" class="form-control" name="B" placeholder="Outsiders" required="required" /><br>
        <input type="text" class="form-control" name="LSTAT" placeholder=" % lower status of the population" required="required" /><br>

       

        <button type="submit" class="submit-button">Predict</button>
    </form>   
 </div>
 {{prediction_text}}

</body>
</html>