<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <title>House Prediction</title>
    <link href="{{ url_for('static', filename='stylesheets/style.css')}}"  rel='stylesheet' />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' >
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    
</head>

<body>
    <div class = "container">
	
    
     <!-- Main Input For Receiving Query to our ML -->
        <form action="{{ url_for('predict')}}"method="post" id ="myform">
            <div class="form">    
                <h1>Boston House Price Prediction</h1>
            </div>
            <label for="CRIM">
                Per Capita Crime Rate by Town
                <br><input type="number" step="any" name="CRIM" id ="CRIM" class="form-user" placeholder="Range between 0-25" required="required" />
            </label><br><br>
            
            <label for="ZN">
                Residential Land Zoned for lots over 25,000 sq.ft.
                <br><input type="number"  step="any" id="ZN" name="ZN" placeholder="Range between 0-100" required="required" />
            </label><br><br>
            
            <label for="INDUS">
                Non-Retail business acres per Town
                <br><input type="number"  step="any" id = "INDUS" name="INDUS" placeholder="Range between 0-25 " required="required" />
            </label><br><br>
            
            <label for = "CHAS">
                Near Charles River
                <br><input type="number"  step="any" id = "CHAS" name="CHAS" placeholder="True or False (0/1)" required="required" />
            </label><br><br>
            
            <label for="NOX">
                Nitric Oxides Concentration (parts per 10 million)
                <br><input type="number"  step="any" id ="NOX" name="NOX" placeholder="Range between 0-1" required="required" />
            </label><br><br>
            
            <label for ="RM">
                Average number of rooms per Dwelling
                <br><input type="number"  step="any" id="RM" name="RM" placeholder="Range between 0-10" required="required" />
            </label><br><br>
            
            <label for="Age">
                Proportion of Owner-occupied units built prior to 1940
                <br><input type="number"  step="any" id="Age"name="Age" placeholder="Age" required="required" />
            </label><br><br>
            
            <label for="DIS">
                Weighted distances to five Boston Employment Centres
                <br><input type="number" step="any"  id="DIS" name="DIS" placeholder="Range between 0-10" required="required" />
            </label><br><br>
            
            <label for="RAD">
                Index of accessibility to Radial Highways
                <br><input type="number"  step="any" id="RAD" name="RAD" placeholder="Range between 0-10" required="required" />
            </label><br><br>

            <label for="TAX">
                Full Value property Tax
                <br><input type="number"  step="any" id="TAX" name="TAX" placeholder="Range between 100-1000" required="required" />
            </label><br><br>

            <label for="PTRATIO">
                Pupil-Teacher ratio by Town
                <br><input type="number"  step="any" id="PTRATIO" name="PTRATIO" placeholder="Range between 0-25" required="required" />
            </label><br><br>
            
            <label for ="OUTSIDER">
                Proportion of Outsiders by Town
                <br><input type="number"  step="any" id="OUTSIDER" name="OUTSIDER" placeholder="Range between 100-1000" required="required" />
            </label><br><br>

            <label for="LSTAT">   
                % Lower Status of the Population
                <br><input type="number"  step="any" id="LSTAT" name="LSTAT" placeholder="Range between 0-50" required="required" />
            </label><br><br>
        
           <br><br> <button type="submit" class="btn">Predict</button>
        
           <div class ="ans">
               <br><br><h2> {{prediction_text}}</h2>
           </div> 
        </form> 
         
    </div>

</body>
</html>